In [2]:
import pandas as pd

In [6]:
bigmac=pd.read_csv("bigmac.csv",parse_dates=["Date"])

In [7]:
bigmac.set_index(keys=["Date","Country"])

                          Price in US Dollars
Date       Country
2016-01-01 Argentina                     2.39
           Australia                     3.74
           Brazil                        3.35
           Britain                       4.22
           Canada                        4.14
...                                       ...
2010-01-01 Turkey                        3.83
           UAE                           2.99
           Ukraine                       1.83
           United States                 3.58
           Uruguay                       3.32

[652 rows x 1 columns]