In [4]:
import pandas as pd

In [6]:
ice_cream=["Chocolate","Vanilla","Strawberry","Rum Raisin"]
pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [7]:
lottery=[4,8,15,16,23,42]
pd.Series(lottery)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [8]:
sushi={
    "Salmon":"Orange",
    "Tuna":"Red",
    "Eel":"Brown"
}
pd.Series(sushi)

Salmon    Orange
Tuna         Red
Eel        Brown
dtype: object

In [9]:
values=[1,2,3]
values.append(4)
values

[1, 2, 3, 4]

## Methods

In [12]:
prices=pd.Series([2.99,4.45,1.36])
prices

0    2.99
1    4.45
2    1.36
dtype: float64

In [14]:
prices.sum()

8.8

In [15]:
prices.product()

18.095480000000006

In [16]:
prices.mean()

2.9333333333333336

## Attribute

In [17]:
adjectives=pd.Series(["Smart","Handsome","Charming"])
adjectives

0       Smart
1    Handsome
2    Charming
dtype: object

In [19]:
adjectives.size

3

In [21]:
adjectives.is_unique

True

In [22]:
adjectives.values

array(['Smart', 'Handsome', 'Charming'], dtype=object)

In [23]:
type(adjectives.values)

numpy.ndarray

In [24]:
adjectives.index

RangeIndex(start=0, stop=3, step=1)

In [25]:
type(adjectives.index)

pandas.core.indexes.range.RangeIndex

## Parameter and Arguments

In [26]:
foods = ["French Fries", "Chicken Nuggets", "Celery", "Carrots"]
dipping_sauces = ["BBQ", "Honey Mustard", "Ranch", "Sriracha"]

In [28]:
s1 = pd.Series(foods, dipping_sauces)
s1

BBQ                 French Fries
Honey Mustard    Chicken Nuggets
Ranch                     Celery
Sriracha                 Carrots
dtype: object

In [32]:
s2 = pd.Series(dipping_sauces,foods)
s2

French Fries                 BBQ
Chicken Nuggets    Honey Mustard
Celery                     Ranch
Carrots                 Sriracha
dtype: object

## Import CSV

In [41]:
pokemon=pd.read_csv("pokemon.csv",usecols=["Pokemon"]).squeeze("columns")
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [44]:
pd.read_csv("google_stock_price.csv").squeeze("columns")

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

## Head and Tail

In [ ]:
pokemon=pd.read_csv("pokemon.csv",usecols=["Pokemon"]).squeeze("columns")

In [45]:
pokemon.head(7)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
6      Squirtle
Name: Pokemon, dtype: object

In [46]:
pokemon.tail(3)

718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

## Sort

In [75]:
pokemon.sort_values(ascending=False).head()

Type
Dragon     Zygarde
Dark      Zweilous
Poison       Zubat
Dark         Zorua
Dark       Zoroark
Name: Pokemon, dtype: object

In [58]:
pokemon[[2,100]]

2       Venusaur
100    Electrode
Name: Pokemon, dtype: object

In [64]:
pokemon.get(0)

'Bulbasaur'

In [65]:
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
730          Pink
Name: Pokemon, Length: 722, dtype: object

In [83]:
pokemon2=pd.read_csv("pokemon.csv",index_col="Type").squeeze("columns")
pokemon2

Type
Grass       Bulbasaur
Grass         Ivysaur
Grass        Venusaur
Fire       Charmander
Fire       Charmeleon
              ...
Dark          Yveltal
Dragon        Zygarde
Rock          Diancie
Psychic         Hoopa
Fire        Volcanion
Name: Pokemon, Length: 721, dtype: object

In [80]:
google=pd.read_csv("google_stock_price.csv", 
                   usecols=["Stock Price"]).squeeze("columns")
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [81]:
google.value_counts()

291.21    5
307.94    3
289.71    3
243.26    3
194.80    3
         ..
195.05    1
193.26    1
185.42    1
172.83    1
782.22    1
Name: Stock Price, Length: 2886, dtype: int64

## Apply

In [88]:
pokemon1=pd.read_csv("pokemon.csv",index_col=["Pokemon"]).squeeze("columns")
pokemon1

Pokemon
Bulbasaur       Grass
Ivysaur         Grass
Venusaur        Grass
Charmander       Fire
Charmeleon       Fire
               ...
Yveltal          Dark
Zygarde        Dragon
Diancie          Rock
Hoopa         Psychic
Volcanion        Fire
Name: Type, Length: 721, dtype: object

In [89]:
pokemon1.apply(len)

Pokemon
Bulbasaur     5
Ivysaur       5
Venusaur      5
Charmander    4
Charmeleon    4
             ..
Yveltal       4
Zygarde       6
Diancie       4
Hoopa         7
Volcanion     4
Name: Type, Length: 721, dtype: int64

## Map Methods

In [97]:
mappings={
    "Grass":"Classic",
    "Fire": "Classic",
    "Water": "Classic",
    "Normal":"Boring"
}
mappings_series=pd.Series(mappings)
mappings_series

Grass     Classic
Fire      Classic
Water     Classic
Normal     Boring
dtype: object

In [98]:
pokemon1.map(mappings_series)

Pokemon
Bulbasaur     Classic
Ivysaur       Classic
Venusaur      Classic
Charmander    Classic
Charmeleon    Classic
               ...
Yveltal           NaN
Zygarde           NaN
Diancie           NaN
Hoopa             NaN
Volcanion     Classic
Name: Type, Length: 721, dtype: object