In [1]:
import pandas as pd

In [29]:
chicago=pd.read_csv("chicago.csv").dropna(how="all")
chicago.head(3)
chicago["Department"]=chicago["Department"].astype("category")

In [30]:
chicago.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32062 entries, 0 to 32061
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    32062 non-null  object
 1   Position Title          32062 non-null  object
 2   Department              32062 non-null  category
 3   Employee Annual Salary  32062 non-null  object
dtypes: category(1), object(3)
memory usage: 1.0+ MB

In [19]:
chicago["Name"].str.title()
chicago["Position Title"]=chicago["Position Title"].str.title()

In [20]:
chicago["Department"].str.len()

0        11.0
1         6.0
2         6.0
3        16.0
4        11.0
         ...
32058     6.0
32059     6.0
32060     6.0
32061     4.0
32062     NaN
Name: Department, Length: 32063, dtype: float64

In [21]:
chicago["Department"].str.replace("MGMNT","MANAGEMENT")

0        WATER MANAGEMENT
1                  POLICE
2                  POLICE
3        GENERAL SERVICES
4        WATER MANAGEMENT
               ...
32058              POLICE
32059              POLICE
32060              POLICE
32061                DoIT
32062                 NaN
Name: Department, Length: 32063, dtype: object

In [36]:
#starswith endswith
mask=chicago["Position Title"].str.lower().str.contains("water")
chicago[mask]

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$90744.00
554,"ALUISE, VINCENT G",FOREMAN OF WATER PIPE CONSTRUCTION,WATER MGMNT,$102440.00
671,"ANDER, PERRY A",WATER CHEMIST II,WATER MGMNT,$82044.00
685,"ANDERSON, ANDREW J",DISTRICT SUPERINTENDENT OF WATER DISTRIBUTION,WATER MGMNT,$109272.00
702,"ANDERSON, DONALD",FOREMAN OF WATER PIPE CONSTRUCTION,WATER MGMNT,$102440.00
...,...,...,...,...
29669,"VERMA, ANUPAM",MANAGING ENGINEER - WATER MANAGEMENT,WATER MGMNT,$111192.00
30239,"WASHINGTON, JOSEPH",WATER CHEMIST III,WATER MGMNT,$89676.00
30544,"WEST, THOMAS R",GEN SUPT OF WATER MANAGEMENT,WATER MGMNT,$115704.00
30991,"WILLIAMS, MATTHEW",FOREMAN OF WATER PIPE CONSTRUCTION,WATER MGMNT,$102440.00
31405,"WOODRIDGE, ROBERT L",FOREMAN OF WATER PIPE CONSTRUCTION,WATER MGMNT,$102440.00

In [38]:
chicago.columns.str.upper()

Index(['NAME', 'POSITION TITLE', 'DEPARTMENT', 'EMPLOYEE ANNUAL SALARY'], dtype='object')